doctype html
html
  head
    meta(charset='utf-8')
    title Filtering marker cluster groups
    meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css', rel='stylesheet')
    link(href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css', rel='stylesheet')
    link(href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css', rel='stylesheet')
    style.
      body { margin:0; padding:0; }
      #map { position:absolute; top:0; bottom:0; width:100%; }
      #colors {
        position: absolute;
        top: 0;
        right: 0;
        background: #fff;
        width: 150px;
        padding:5px;
      }
      .button {
        background-color:#44c767;
        -moz-border-radius:10px;
        -webkit-border-radius:10px;
        border-radius:10px;
        border:1px solid #18ab29;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:17px;
        padding:5px 15px;
        text-decoration:none;
        text-shadow:0px 1px 0px #2f6627;
      }
      .button:hover {
        background-color:#5cbf2a;
      }
      .button:active {
        position:relative;
        top:1px;
      }

  body
    #map
    form#colors
      
      div
        input(type='checkbox', name='filters', onclick='showSpots();', value='crime', checked='')
        |  Crime Hot Spot
      |   
      div
        input(type='checkbox', name='filters', onclick='showSpots();', value='accident', checked='')
        |  Car Accident
      div
        button.button(onclick='startRouting(); return false;', value='')
          | Start Routing

    script(src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js')
    script(src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js')
    script(src='js/jquery.min.js')
    script(src='js/main-map.js')
