doctype html
html
  head
    meta(charset='utf-8')
    title Filtering marker cluster groups
    meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css', rel='stylesheet')
    link(href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css', rel='stylesheet')
    link(href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css', rel='stylesheet')
    link(href='css/flat-ui.min.css', rel='stylesheet')
    style.
      body { margin:0; padding:0; }
      #map { position:absolute; top:0; bottom:0; width:100%; }
      #colors {
        position: absolute;
        top: 0;
        right: 0;
        background: #fff;
        width: 200px;
        padding:5px;
        opacity: 0.9;
      }
      #colors > div{
        padding: 5px;
      }

      .car-number{
        width: 15px;
        height: 20px;
      }
      .button{
        width: 100%;
      }
  body
    #map
    form#colors
      
      div
        label.checkbox(for="crime-check")
          input#crime-check(type='checkbox', name='filters', onclick='showSpots();', value='crime', checked='')
          |  Crime Hotspot
      |   
      div
        label.checkbox(for="accident-check")
          input#accident-check(type='checkbox', name='filters', onclick='showSpots();', value='accident')
          |  Car Accident
      div
        input#car-number.car-number.form-control(type='text', value=5)
        |  Police Cars
      div
        button#start-routing.button.btn.btn-embossed.btn-primary
          | Patrol

    script(src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js')
    script(src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js')
    script(src='js/jquery.min.js')
    script(src='js/flat-ui.min.js')
    script(src='js/main-map.js')
